@font-face {
  font-family: 'F-Medium';
  src: url(./assets/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'F-Bold';
  src: url(./assets/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'F-Italic';
  src: url(./assets/Poppins-MediumItalic.ttf);
}
@font-face {
  font-family: 'F-LightItalic';
  src: url(./assets/Poppins-LightItalic.ttf);
}
@font-face {
  font-family: 'F-SemiBold';
  src: url(./assets/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: 'F-Light';
  src: url(./assets/Poppins-Light.ttf);
}
@font-face {
  font-family: 'FredokaOne-Regular';
  src: url(./assets/FredokaOne-Regular.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'F-Medium'
}
html{
  scroll-behavior: smooth;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
} */